:root {  
	--color-font-main:          rgb(0, 0, 0);
	--color-font-secondary:     #14171a;
	--color-nav-border:         rgba(0, 0, 0, 0.25);
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
  }
  body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	  Ubuntu, "Helvetica Neue", sans-serif;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
  }
  
  /* Search Bar */
  .wrapper-right {
	position: absolute !important;
	margin-top:360px;
	margin-right:12px;
	right: 0;
	height: 100%;
	width: 32% !important;
  }
  
  #mine {
	min-height:1200px;
  }
  #mine .img-user {
	height: 39px;
	width: 39px;
	border-radius: 50px;
  }
  #mine .name {
	font-size: 15px;
  }
  #mine .username {
	margin-top: 3px;
	font-size: 16px;
  }
  .search-name{
	display: block !important;
	margin-top: 17px;
}

   /* INPUT SEARCH*/
  
   #mine .grid-dposts {
	display: grid;
	grid-template-columns: 65% auto;
	background-color: rgb(255, 255, 255);
	margin-left: 2%;
  }
  #mine .border-right {
	border-right: 0.5px solid #e6ecf0;
	margin-left:-250px;
  }
  #mine .center-input-search {
	margin-left: 32%;
	margin-top: 10px;
  }


 #mine  button,
  #mine input {
	overflow: visible;
  }
  
  /* Input Box */
  
  #mine .box-fixed {
	position: fixed;
	width: 33%;
	left: 25.4%;
	top: 40px;
	-webkit-box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
	-moz-box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
	box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
  }
  
  #mine .grid-toolbar-center {
	display: grid;
	grid-template-columns: 95% 10%;
  }
  
  #mine .mt-icon-settings {
	margin-top: 15px;
  }
  
  /* POSTS OF SOCIALBUZZ */
  
  #loadMore {
	width: 200px;
	color: rgb(0, 0, 0);
	display: block;
	text-align: center;
	margin: 20px auto;
	margin-left: 50%;
	padding: 10px;
	border: 1px solid transparent;
	background-color: #eeeeee;
	transition: .3s;
	/* margin-bottom:2600px!important; */
  }
  #loadMore:hover {
	color: #c9c9c9;
	background-color: rgb(0, 0, 0);
	border: 1px solid #c9c9c9;
	text-decoration: none;
  }
  .noContentfollowsomeone {
	color: #000 !important;
	background-color: transparent !important;
	pointer-events: none;
  }
  .noContentinvis {
	color: transparent !important;
	background-color: transparent !important;
	pointer-events: none;
  }
  .noContent {
	color: #000 !important;
	background-color: transparent !important;
	pointer-events: none;
  }
  #mine .box-post {
	margin-top: 15px;
	margin-left: 27%;
	transition: 0.5s;
	cursor: pointer;
	display: none;
  }
  #mine .box-post:hover {
	transition: 0.5s;
	background-color: #f8f8f8;
  }
  #mine .img-user-post {
	height: 49px;
	width: 49px;
	border-radius: 50px;
  }
  
  #mine .grid-post {
	display: grid;
	grid-template-columns: 10% 90%;
	margin-left: 15px;
	margin-right: 2px;
  }
  #mine .username-socialbuzz {
	color: #000000;
	font-size: 15px;
  } 
  #mine .img-dpost-post {
	height: 285.19px;
	width: 507px;
	border-radius: 10px;
  }

  /* upload img place */
  #mine .img-upload-tmp {
	height: 250px;
	width: 450px;
	border-radius: 10px;
	margin-left: 30px;
  }
  #mine .upload-delete {
	top: 20px;
	right:70px;
	color:red;
	font-size:22px ;
	font-weight:800;
	z-index: 23;
	cursor:pointer;
  }
  .upload-photo {
	  display: none;
  }

 
  /* end */
  
  #mine .mt-dpost-post {
	margin-top: 10px;
  }
  
  /* TOOLBAR REACTIONS */
  #mine .grid-reactions {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	position: relative;
	z-index: 20;
  }
 #mine  .grid-box-reaction{
	display: grid;
	grid-template-columns: 30% 10%;
	padding-top: 8px;
  }
  #mine  .grid-box-reaction-rep{
	display: grid;
	grid-template-columns: 30% 10%;
	padding-top: 4px;
	font-size: 15px;
  }
  #mine .hover-reaction{
	padding: 5px 0 5px 0;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
  }
  #mine .hover-reaction-rep{
	height: 20px;
	border-radius: 50%;
	text-align: center;
  }

  #mine .hover-reaction-like:hover {
	opacity: 50%;
	
  }
  #mine .unlike-btn {
	  color: green;
	 
  }
 
  #mine .mt-counter{
	margin-left: 2px;	
  }
  
  
  
  /* BOX-SHARE */
  #mine .box-share{
	margin: 20px;
	margin-right: 60px;
	margin-top: 70px;
	background-color: #f8f9fa;
	max-height: 285px;
  }
  #mine .box-share-users{
	margin: 5px;
	margin-right: 15px;
	border-radius: 10px;
	background-color: #f8f9fa;
  }
  
  #mine .grid-share{
	padding: 10px;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 18% 56% auto;
	transition: 0.5s;
  }
 #mine .grid-users {
	grid-template-columns: 15% 60% auto;
	
  }
  
  #mine .grid-share:hover{
	transition: 0.5s;
   background-color: #e0e0e0;
  }
  
 #mine  .txt-share{
	font-size: 18.5px;
	padding: 10px;
  }
  #mine .img-share{
	height: 49px;
	width: 49px;
	border-radius: 50px;
  }

#mine p {
	margin: 0 ;
 }


 .search-input {
	background-color: #E9ECEE !important;
		padding-left: 45px;
	}
	
	.search-input:focus {
		background-color: white !important;
	}
	
	
	.tryy {
		position: absolute;
		top: 20px;
		left: 15px;
		z-index: 20;
		font-weight: 400;
		color: gray;
	}


.nav-right-down-wrap{
	width: 85%;
	border: 2px solid #ccc;
	overflow: auto;
	position: absolute;
	background: #fff;
	top: 45px;
	left: 8px;
	border-radius: 5px;
	max-height:400px ;
	z-index: 20;

	
}
.nav-right-down-inner {
	height: 60px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;

}
.nav-right-down-wrap ul {
	margin-bottom: 0;	
	
}
.nav-right-down-inner{
	overflow: hidden;
	cursor: pointer;
}

.nav-right-down-wrap ul{
	float: none !important;
}
.nav-right-down-left{
	float: left;
	margin: 0px 5px 0px 0px;
}

.nav-right-down-left img{
	width: 42px !important;
	height: 42px;
	border-radius: 50%;
}

.nav-right-down-right-headline a{
	font-weight: 700;
	padding: 0px 2px;
	font-size: 14px;
	color: black;
	
}
.nav-right-down-right-headline a{
	font-weight: 700;
	padding: 0px 2px;
	font-size: 14px;
	color: black;
	
}
.nav-right-down-right-headline {
	margin-top: 5px;
	
}

.nav-right-down-right-headline span{
	color: #A1A1A1;
	
}
/* .nav-right-down-right-body span{
	color: #A1A1A1;	
	padding: 0px 3px;
} */
.nav-right-down-right{
	float: left;
	margin: 0px 2px;
}

.bottom-container > input
{
    display: none;
}

.bottom-container i
{
    /* width: 80px; */
    cursor: pointer;
}

/* hashtag */

.hash-box{
	position: absolute;
	z-index: 50;
    background: white;
    background-color: white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 0px 10px 0px #cacaca;
    background-color: white;
	display: block;
	overflow: auto;
	max-height: 250px;
	margin-left: 60px;
}



.hash-box ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.hash-box ul li:hover{
	background: #1DA1F2;
}

.hash-box ul li:hover > a{
	color: white;
}

.hash-box ul li a{
	display: block;
	text-decoration:none;
	color: #716868;

}
.hash-post {
	color: #1da1f2;
	font-weight: 500;
	position:relative ;z-index: 40;
}

.unclick {
	pointer-events: none;
}


/* popup */

.wrap5{
	background-color: rgba(0, 0, 0, 0.34);
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index: 10000;
	/* overflow-y: scroll; */
	display: block;
}

.popup-users {
	width: 520px;
	min-height: 350px ;
	max-height: 500px;
	
}

.users {
	text-align: left;
    margin-left: 10px;
	
}
.users h3 {
	font-weight: 800;
	font-size: 17px;
	position: relative;
	top:10px;
}

.arrow-style {
	color: rgb(72,  161, 235);
	transition: 0.5s;
  padding: 10px;  

}
.arrow-style:hover {
  border-radius: 50%;
  transition: 0.5s;
  background-color: rgb(186, 202, 216);
} 
.post-name {
	margin-top: 5px;
	font-size: 18px;
}

.home-follow {
	color: gray;
	position: relative;
}
.users-count {
	z-index: 80;
}
.home-follow-count {
	color: black;
	font-weight: 600;
	z-index: 50;
}
.home-follow i:hover {
   border-bottom: 2px solid black;
}

  .follow-btn {
	display: inline-block;
	color: #000b13;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	padding: 0.3rem 0.8rem;
	font-size: 15px;
	line-height: 1.5;
	border-radius: 0.3rem;
	border: 1px solid #000b13;
	background: transparent;
	font-weight: 700;
	transition: 0.3s;
	/* position: relative; */
	left:280px;
  } 

  .follow:hover {
	transition: 0.5s;
	background-color: #c2fdc7;
  }
  .following {
	transition: 0.5s;
	background-color: #000b13;
	color: white;
  }

  .following:hover {
	transition: 0.5s;
	background-color: #7e0303;
	color: white;
  }






















  button:focus {
    outline: none;
}

.wrapper-left a {
	color: #000000;
}
.wrapper-left a:hover {
	text-decoration: none;
	color: #1DA1F2;
	
}
#mine .wrapper-left-active {
	color: #1DA1F2;
}
.follows-you {
	font-size: 13px;
	font-weight: 500;
	color: #6C7F90;
	background-color: #EBEEF0;
	padding: 3px;
	border-radius: 6px;
}
.notify-count {
	position: absolute;
	background-color: #1DA1F2;
	font-size: 11px;
	color: white;
	border-radius: 18px;
	top: -6px;
	right: 11px;
	padding: 3px;
	font-weight: 500;
}

@media only screen and (max-width: 800px) {
    html {
            font-size: 13px;
    }

	#loadMore {
		margin-left: 25%;
	  }
    .wrapper-right {
		display: none;
		width: 0;
	}
	#mine .wrapper-left .button-buzz{
		display: none;
	}

	#mine .box-share{
		display: none;
		width: 0;
	  }

	#mine .wrapper-left .sidebar-left {
		position: fixed !important;
		width: 40px !important;
		height: 100%;
		background-color: #ffffff !important;
		font-size: 19px !important;
		border-right: 0.5px solid #e6ecf0 !important;
		margin-left: 15px !important;
	  }
	  #mine .wrapper-left .grid-sidebar .wrapper-left-elements {
		display: none;
	  } 
	  #mine .grid-dposts {
		display: grid;
		grid-template-columns: 100% auto;
		background-color: rgb(255, 255, 255);
		margin-left: 2%;
	  }
	  #mine .border-right {
		border-right: 0.5px solid #e6ecf0;
		margin-left:0px;
	  }
	  #mine .center-input-search {
		margin-left: 13%;
		margin-top: 10px;
	  }
	   .box-fixed {
		position: fixed;
		width: 33%;
		left: 5.4%;
		top: 40px;
		-webkit-box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
		-moz-box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
		box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
	  }
	  #mine .box-post {
		margin-top: 15px;
		margin-left: 8%;
		transition: 0.5s;
		cursor: pointer;
	  }
	  #mine .img-dpost-post {
		height: 180.19px;
		width: 310px;
		border-radius: 10px;
	  }

	  #mine .img-user-post {
		height: 38px;
		width: 38px;
		border-radius: 50px;
	  }
	  #mine .box-user {
		display: none;
		
	  }

	.popup-users {
		width: 380px;
		min-height: 350px ;
		max-height: 500px;
		
	}
	#mine .img-upload-tmp {
		height: 160px;
		width: 280px;
		border-radius: 10px;
		margin-left: 30px;
	  }
	  #mine .upload-delete {
		top: 15px;
		right:40px;
		color:red;
		font-size:22px ;
		font-weight:800;
		z-index: 23;
		cursor:pointer;
	  }
	  #mine .img-share{
		height: 42px;
		width: 42px;
		border-radius: 50px;
	  }
	  .notify-count {
		top: -6px;
		right: -10px;
	}
	#userdpost ::placeholder{
		text-align: left;
		font-weight: 700;
		font-size: 16px;;
	  }
	  #mine .username-socialbuzz {
		color: #000000;
		font-size: 14px;
	  }
	  
  } 

  @media only screen and (max-width: 1200px) and (min-width: 801px) {
    html {
            font-size: 15px;
    }
	#loadMore {
		margin-left: 25%;
	  }
    .wrapper-right {
		width: 32% !important;
	}
	#mine .wrapper-left .button-buzz{
		display: none;
	}
	#mine .wrapper-left .sidebar-left {
		position: fixed !important;
		width: 40px !important;
		height: 100%;
		background-color: #ffffff !important;
		font-size: 19px !important;
		border-right: 0.5px solid #e6ecf0 !important;
		margin-left: 15px !important;
	  }
	  #mine .wrapper-left .grid-sidebar .wrapper-left-elements {
		display: none;
	  } 
	  #mine .grid-dposts {
		display: grid;
		grid-template-columns: 57% auto;
		background-color: rgb(255, 255, 255);
		margin-left: 2%;
	  }
	  #mine .border-right {
		border-right: 0.5px solid #e6ecf0;
		margin-left:0px;
	  }
	  #mine .center-input-search {
		margin-left: 13%;
		margin-top: 10px;
	  }
	   .box-fixed {
		position: fixed;
		width: 33%;
		left: 5.4%;
		top: 40px;
		-webkit-box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
		-moz-box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
		box-shadow: 0px 3px 5px -1px rgba(204, 174, 204, 1);
	  }
	  #mine .box-post {
		margin-top: 15px;
		margin-left: 8%;
		transition: 0.5s;
		cursor: pointer;
	  }
	  #mine .img-dpost-post {
		height: 180.19px;
		width: 310px;
		border-radius: 10px;
	  }
	  #mine .img-user-post {
		height: 38px;
		width: 38px;
		border-radius: 50px;
	  }
	  #mine .box-user {
		display: none;
	  }

	.popup-users {
		width: 380px;
		min-height: 350px ;
		max-height: 500px;
		
	}
	#mine .img-upload-tmp {
		height: 160px;
		width: 280px;
		border-radius: 10px;
		margin-left: 30px;
	  }
	  #mine .upload-delete {
		top: 15px;
		right:40px;
		color:red;
		font-size:22px ;
		font-weight:800;
		z-index: 23;
		cursor:pointer;
	  }
	  #mine .img-share{
		height: 42px;
		width: 42px;
		border-radius: 50px;
	  }
	  .notify-count {
		top: -6px;
		right: -10px;
	}

	  
  }
  @media screen and (max-width: 350px) {
    html {
            font-size: 10px;
    }
	#loadMore {
		margin-left: 25%;
	  }
	#mine .box-share{
		display: none;
		width: 0;
	  }
	  
	#mine .img-dpost-post {
		height: 110px;
		width: 240px;
		border-radius: 10px;
	  }
	  #mine .img-user-post {
		height: 20px;
		width: 20px;
		border-radius: 50px;
	  }
	  #userdpost ::placeholder{
		text-align: left;
		font-weight: 700;
		font-size: 15px;;
	  }
	  #mine .username-socialbuzz {
		color: #000000;
		font-size: 10px;
	  }
  }